@tailwind base;
@tailwind components;
@tailwind utilities;

from{width: 80%;}
input{padding: 8px 10px; width: 100%; border: 1px solid #c48f56; color: #1d1d1d; font-size:14px; background: transparent; margin-bottom: 5px;}
select{padding: 8px 10px; width: 100%; border: 1px solid #c48f56; color: #1d1d1d; font-size:14px; background: transparent; margin-bottom: 20px;}
textarea{padding: 8px 10px;background: transparent; border: 1px solid #c48f56; width: 100%;}
input:focus{outline: none;}
select:focus{outline: none;}
textarea:focus{outline:none; }
.errormessage{font-size:14px;}

::placeholder {
    font-size: 13.6px;
    color: #c48f56;
  }
  ::-ms-input-placeholder { /* Edge 12 -18 */
    font-size: 13.6px;
    color: #c48f56;
  }
  .slick-dots li{margin: 0px !important;}

  .slick-dots li.slick-active button:before{opacity:1 !important; font-size:10px !important;}
  .slick-dots li button:before{color:#AE783C !important; font-size:6px !important;opacity:0.75 !important;}

